@import "../../styles/variable";

.fa-sidebar-area {
  ol,
  ul,
  dl {
    margin: 0;
    padding: 0;
  }

  li {
    cursor: default;
  }

  position: relative;
  background-color: $darkblue;
  color: $light-white;
  height: 100%;
  &__logo {
    display: flex;
    align-items: center;
    height: 90px;
    margin-left: 30px;
  }
  &__svg {
  }
  &__text {
    font-size: 1.4rem;
    font-family: "Inter", sans-serif;
    color: $text-color;
    margin-left: 10px;
  }
  &__point {
    font-size: 1.8rem;
    color: $pink;
  }
  .fa-sidebar-nav {
    &__item {
      display: flex;
      //   justify-content: center;
      align-items: center;
      padding: 20px;
      margin: 10px;
      border-radius: 8px;
    }
    &__nav {
      //   color: $white;
      margin-left: 22px;
    }
    .active {
      background-color: $violet;
      color: $white;
      svg {
        path {
          fill: $white;
        }
      }
    }
  }
  .fa-register {
    margin-top: 60px;
    margin-left: 28px;
    margin-right: 55px;
    padding: 12px 10px 10px 33px;
    background-color: $darkestBlue;
    border-radius: 8px;
    color: $white;
    font-size: 13;
  }
  .fa-sidebar-bottom {
    margin-top: 200px;
    margin-left: 25px;
    &__setting {
      margin-bottom: 40px;
      margin-top: 54px;

      span {
        margin-left: 20px;
        margin-bottom: 40px;
      }
    }
  }
}
