<div class="fa-doctor-area">
  <div class="fa-doctor-header">
    <p>Doctor</p>
    <button class="fa-btn-doctor">
      <svg-icon src="../../../assets/icons/svg/add.svg"></svg-icon>
      Add Doctor
    </button>
  </div>
  <div class="fa-doctor-content">
    <div class="row">
      <div class="col-3 mb-4">
        <p-card class="fa-doctor-card" [style]="{ padding: '20px' }">
          <ng-template pTemplate="header">
            <div class="fa-doctor-card__menu">
              <svg-icon
                label="Show"
                (click)="menu.toggle($event)"
                src="../../../assets/icons/svg/settingdot.svg"
              ></svg-icon>
              <p-menu #menu [popup]="true" [model]="items"></p-menu>
            </div>
            <div class="fa-doctor-card__header">
              <div class="fa-avatar-doctor" severity="success" pBadge>
                <img src="../../../assets/images/doctor.png" alt="" />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="p-card-content">
            <h4 class="fa-text_white">Dr.Jacad Monie</h4>
            <h6 class="fa-text_light">MBSS, M.D of medicine</h6>
            <p class="fa-text_white">Cardiologist</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="fa-text_light mb-2">
              <span>Phone:</span><span>(123) 1800-567</span>
            </div>
            <div class="fa-text_light">
              <span>Email:</span><span>Jacad@gmail.com</span>
            </div>
          </ng-template>
        </p-card>
      </div>
      <!-- coppy -->
      <div class="col-3 mb-4">
        <p-card class="fa-doctor-card" [style]="{ padding: '20px' }">
          <ng-template pTemplate="header">
            <div class="fa-doctor-card__menu">
              <svg-icon
                label="Show"
                (click)="menu.toggle($event)"
                src="../../../assets/icons/svg/settingdot.svg"
              ></svg-icon>
              <p-menu #menu [popup]="true" [model]="items"></p-menu>
            </div>
            <div class="fa-doctor-card__header">
              <div class="fa-avatar-doctor" severity="success" pBadge>
                <img src="../../../assets/images/doctor.png" alt="" />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="p-card-content">
            <h4 class="fa-text_white">Dr.Jacad Monie</h4>
            <h6 class="fa-text_light">MBSS, M.D of medicine</h6>
            <p class="fa-text_white">Cardiologist</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="fa-text_light mb-2">
              <span>Phone:</span><span>(123) 1800-567</span>
            </div>
            <div class="fa-text_light">
              <span>Email:</span><span>Jacad@gmail.com</span>
            </div>
          </ng-template>
        </p-card>
      </div>
      <!-- coppy -->
      <div class="col-3 mb-4">
        <p-card class="fa-doctor-card" [style]="{ padding: '20px' }">
          <ng-template pTemplate="header">
            <div class="fa-doctor-card__menu">
              <svg-icon
                (click)="showDialog()"
                src="../../../assets/icons/svg/settingdot.svg"
              ></svg-icon>
              <p-dialog header="Title" [(visible)]="display">
                Content
              </p-dialog>
            </div>
            <div class="fa-doctor-card__header">
              <div class="fa-avatar-doctor" severity="success" pBadge>
                <img src="../../../assets/images/doctor.png" alt="" />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="p-card-content">
            <h4 class="fa-text_white">Dr.Jacad Monie</h4>
            <h6 class="fa-text_light">MBSS, M.D of medicine</h6>
            <p class="fa-text_white">Cardiologist</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="fa-text_light mb-2">
              <span>Phone:</span><span>(123) 1800-567</span>
            </div>
            <div class="fa-text_light">
              <span>Email:</span><span>Jacad@gmail.com</span>
            </div>
          </ng-template>
        </p-card>
      </div>
      <!-- coppy -->
      <div class="col-3 mb-4">
        <p-card class="fa-doctor-card" [style]="{ padding: '20px' }">
          <ng-template pTemplate="header">
            <div class="fa-doctor-card__menu">
              <svg-icon
                (click)="showDialog()"
                src="../../../assets/icons/svg/settingdot.svg"
              ></svg-icon>
              <p-dialog header="Title" [(visible)]="display">
                Content
              </p-dialog>
            </div>
            <div class="fa-doctor-card__header">
              <div class="fa-avatar-doctor" severity="success" pBadge>
                <img src="../../../assets/images/doctor.png" alt="" />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="p-card-content">
            <h4 class="fa-text_white">Dr.Jacad Monie</h4>
            <h6 class="fa-text_light">MBSS, M.D of medicine</h6>
            <p class="fa-text_white">Cardiologist</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="fa-text_light mb-2">
              <span>Phone:</span><span>(123) 1800-567</span>
            </div>
            <div class="fa-text_light">
              <span>Email:</span><span>Jacad@gmail.com</span>
            </div>
          </ng-template>
        </p-card>
      </div>
      <!-- coppy -->
      <div class="col-3 mb-4">
        <p-card class="fa-doctor-card" [style]="{ padding: '20px' }">
          <ng-template pTemplate="header">
            <div class="fa-doctor-card__menu">
              <svg-icon
                (click)="showDialog()"
                src="../../../assets/icons/svg/settingdot.svg"
              ></svg-icon>
              <p-dialog header="Title" [(visible)]="display">
                Content
              </p-dialog>
            </div>
            <div class="fa-doctor-card__header">
              <div class="fa-avatar-doctor" severity="success" pBadge>
                <img src="../../../assets/images/doctor.png" alt="" />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="p-card-content">
            <h4 class="fa-text_white">Dr.Jacad Monie</h4>
            <h6 class="fa-text_light">MBSS, M.D of medicine</h6>
            <p class="fa-text_white">Cardiologist</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="fa-text_light mb-2">
              <span>Phone:</span><span>(123) 1800-567</span>
            </div>
            <div class="fa-text_light">
              <span>Email:</span><span>Jacad@gmail.com</span>
            </div>
          </ng-template>
        </p-card>
      </div>
      <!-- coppy -->
      <div class="col-3 mb-4">
        <p-card class="fa-doctor-card" [style]="{ padding: '20px' }">
          <ng-template pTemplate="header">
            <div class="fa-doctor-card__menu">
              <svg-icon
                (click)="showDialog()"
                src="../../../assets/icons/svg/settingdot.svg"
              ></svg-icon>
              <p-dialog header="Title" [(visible)]="display">
                Content
              </p-dialog>
            </div>
            <div class="fa-doctor-card__header">
              <div class="fa-avatar-doctor" severity="success" pBadge>
                <img src="../../../assets/images/doctor.png" alt="" />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="p-card-content">
            <h4 class="fa-text_white">Dr.Jacad Monie</h4>
            <h6 class="fa-text_light">MBSS, M.D of medicine</h6>
            <p class="fa-text_white">Cardiologist</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="fa-text_light mb-2">
              <span>Phone:</span><span>(123) 1800-567</span>
            </div>
            <div class="fa-text_light">
              <span>Email:</span><span>Jacad@gmail.com</span>
            </div>
          </ng-template>
        </p-card>
      </div>
      <!-- coppy -->
      <div class="col-3 mb-4">
        <p-card class="fa-doctor-card" [style]="{ padding: '20px' }">
          <ng-template pTemplate="header">
            <div class="fa-doctor-card__menu">
              <svg-icon
                (click)="showDialog()"
                src="../../../assets/icons/svg/settingdot.svg"
              ></svg-icon>
              <p-dialog header="Title" [(visible)]="display">
                Content
              </p-dialog>
            </div>
            <div class="fa-doctor-card__header">
              <div class="fa-avatar-doctor" severity="success" pBadge>
                <img src="../../../assets/images/doctor.png" alt="" />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="p-card-content">
            <h4 class="fa-text_white">Dr.Jacad Monie</h4>
            <h6 class="fa-text_light">MBSS, M.D of medicine</h6>
            <p class="fa-text_white">Cardiologist</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="fa-text_light mb-2">
              <span>Phone:</span><span>(123) 1800-567</span>
            </div>
            <div class="fa-text_light">
              <span>Email:</span><span>Jacad@gmail.com</span>
            </div>
          </ng-template>
        </p-card>
      </div>
      <!-- coppy -->
      <div class="col-3 mb-4">
        <p-card class="fa-doctor-card" [style]="{ padding: '20px' }">
          <ng-template pTemplate="header">
            <div class="fa-doctor-card__menu">
              <svg-icon
                (click)="showDialog()"
                src="../../../assets/icons/svg/settingdot.svg"
              ></svg-icon>
              <p-dialog header="Title" [(visible)]="display">
                Content
              </p-dialog>
            </div>
            <div class="fa-doctor-card__header">
              <div class="fa-avatar-doctor" severity="success" pBadge>
                <img src="../../../assets/images/doctor.png" alt="" />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="p-card-content">
            <h4 class="fa-text_white">Dr.Jacad Monie</h4>
            <h6 class="fa-text_light">MBSS, M.D of medicine</h6>
            <p class="fa-text_white">Cardiologist</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="fa-text_light mb-2">
              <span>Phone:</span><span>(123) 1800-567</span>
            </div>
            <div class="fa-text_light">
              <span>Email:</span><span>Jacad@gmail.com</span>
            </div>
          </ng-template>
        </p-card>
      </div>
      <!-- coppy -->
      <div class="col-3 mb-4">
        <p-card class="fa-doctor-card" [style]="{ padding: '20px' }">
          <ng-template pTemplate="header">
            <div class="fa-doctor-card__menu">
              <svg-icon
                (click)="showDialog()"
                src="../../../assets/icons/svg/settingdot.svg"
              ></svg-icon>
              <p-dialog header="Title" [(visible)]="display">
                Content
              </p-dialog>
            </div>
            <div class="fa-doctor-card__header">
              <div class="fa-avatar-doctor" severity="success" pBadge>
                <img src="../../../assets/images/doctor.png" alt="" />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="p-card-content">
            <h4 class="fa-text_white">Dr.Jacad Monie</h4>
            <h6 class="fa-text_light">MBSS, M.D of medicine</h6>
            <p class="fa-text_white">Cardiologist</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="fa-text_light mb-2">
              <span>Phone:</span><span>(123) 1800-567</span>
            </div>
            <div class="fa-text_light">
              <span>Email:</span><span>Jacad@gmail.com</span>
            </div>
          </ng-template>
        </p-card>
      </div>
      <!-- coppy -->
    </div>
  </div>
</div>
